/* Set margin, flex properties, height, and background color for the body */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-color: #e8d17b; /* Yellow background color */
    background-image: url('../resources/images/assets/background_Image.png');
    background-size: cover;
    /*resources\images\assets\background_Image.png*/
    
}

#win {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../resources/images/assets/background_Image.png');
    background-size: cover;
}

/* Add border to the canvas element */
canvas {
    border: 1px solid #fff; /* 1 pixel solid white border */
}
